header {
    background-color: #042c4c;
}

#calculator-form label {
    display: block;
}

#calculator-form-container {
    max-width: 400px;

}

#calculator-form input,
#calculator-form button {
    width: 100%;
    margin: 4px 0;
    height: 25px;
    border-radius: 7px;
    border: 1px solid #0067a2;
}

#calculator-form button {
    width: 200px;
    height: 32px;
    background: #0077bb;
    color: #fff;
    font-size: 15px;
    border: 1px solid #0067a2;
}


#calculator-form button:hover {
    background: #0077FE;
    cursor: pointer;
}

#calculator-response {
    font-size: 19px;
    padding: 8px 0;
}

#logo {
    max-width: 145px;
    margin: auto;
    padding: 13px;
}
#logo img {
    width: 100%;
}

.error {
    color: red;
}